:root {
  --main-color: #49BBBD;
  --second-color:#DBF1F2;
  --third-color:#9DCCFF;
  --main-font-color:#000000;
  --white-font-color:#ffffff;
  --main-font-color:#252641;
  --second-font-color:#696984;
  --navbar-color:#F2F2F2;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Login and Register pages*/

/* Login and Register pages*/


/* Landing Page */

/* Landing Page */



/* Courses Page */
.courses-jumbotron{
  width: 100%;
  height: 70vh;
}
.courses--heading{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.courses--left{
  margin-left: 35px;
}
.courses--filterbtn{
  margin-right: 35px;
}

.courses--filterbtn{
  border: none;
  background-color: var(--second-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cards--container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.courses--recommended--background{
  background-color: var(--second-color)
}

.courses--recommended{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* Courses Page */


/* Course Details Page */
.course__details__background{
  
}
.course__rating{
  background-color: var(--second-color);
}

.course__details{
  color: var(--second-font-color);
}
/* Course Details Page */


/* Components */

/* Card */
.card__category__info {
  font-size: 11px;
  color: var(--second-font-color);
}

.card__course__name{
  color: var(--main-font-color);
}
.card__course__price{
  color: var(--main-color);
  font-size: larger;
}

.card__course__desc{
  font-size: small;
}
/* Card */


/* Components */