:root {
  --main-color: #49bbbd;
  --second-color: #dbf1f2;
  --third-color: #9dccff;
  --main-font-color: #000000;
  --white-font-color: #ffffff;
  --second-font-color: #696984;
  --navbar-color: #f2f2f2;
  --main-color: #49bbbd;
  --second-color: #dbf1f2;
  --third-color: #9dccff;
  --main-font-color: #000000;
  --white-font-color: #ffffff;
  --main-font-color: #252641;
  --second-font-color: #696984;
  --navbar-color: #f2f2f2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Login and Register pages*/

/* Login and Register pages*/

/* Landing Page */

/*backgroundImage&info */

.bg_landing_page {
  position: relative;
}
.girl_img {
  position: absolute;
  top: -18px;
  right:10% ;
  
}
img.border_girl_img{
  border-bottom-right-radius:  10em;

}
.textBox_header_landing_page {
  position: absolute;
  top: 30%;
  color: var(--white-font-color);
}

@media screen and (max-width:1373px){
  .girl_img {
    width:240px;
  }
  .bg_landing_page{
    height: 350px;
    }
}
#btn_landing_page_Join_for_free {
  background-color: #75cdcf;
  color: var(--white-font-color);
  border: none;
}
#title_in_bg::before {
  color: #f48c06;
  content: "Studying ";
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .textBox_header_landing_page {
    top: 35px;
    text-align: center;
  }

.bg_landing_page{
height: 250px;
}
  .girl_img {
    display: none;
  }

}
/* /backgroundImage&info */

/* A Broad Selection Of Courses. */

.broad_selection {
  text-align: center;
  margin-top: 2%;
}
.color_broad_selection::before {
  color: #2f327d;
  content: "A Broad";
  font-weight: bold;
}
.color_broad_selection::after {
  color: var(--main-color);
  content: " Selection Of Courses.";
  font-weight: bold;
}
/* A Broad Selection Of Courses. */
/* All courses */
#btn_all_courses{
  background-color: var(--main-color);
  border: none;
  margin-left: 2%;
}
.all_courses_card_landing_page{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 2fr));

}
/* /All courses */

/* Top Categories  */


/* /Top Categories  */

/* Landing Page */

/* Courses Page */
.courses-jumbotron {
  width: 100%;
  height: 70vh;
}
.courses--heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.courses--left {
  margin-left: 35px;
}
.courses--filterbtn {
  margin-right: 35px;
}

.courses--filterbtn {
  border: none;
  background-color: var(--second-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cards--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.courses--recommended--background {
  background-color: var(--second-color);
}

.courses--recommended {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Courses Page */

/* Course Details Page */
.course__details__background {
}
.course__rating {
  background-color: var(--second-color);
}

/* Course Details Page */

.course__details {
  color: var(--second-font-color);
}
/* Course Details Page */

/* Components */

/* Card */
.card__category__info {
  font-size: 11px;
  color: var(--second-font-color);
}

.card__course__name {
  color: var(--main-font-color);
}
.card__course__price {
  color: var(--main-color);
  font-size: larger;
}

.card__course__desc {
  font-size: small;
}
/* Card */

/* Components */
